color-institucional = #7d2d11
color-danger-institucional = #B72727
color-azul-institucional = #0063A7
color-orange-institucional = #EE9B12
color-bage-institucional = #f8efeb
color-secondary-institucional = #F8F8F8
color-gray-institucional = #676565

.bg-institucional
    background: color-institucional
.bg-azul-institucional
    background: color-azul-institucional
.bg-orange-institucional
    background color-orange-institucional
.bg-bage-institucional
    background color-bage-institucional !important    
.bg-header-three
    background #F8EFEB
    border-top 5px solid color-orange-institucional
.bg-gray-institucional 
    background  color-secondary-institucional

.text-institucional
    color: color-institucional
.text-danger-institucional
    color: color-danger-institucional
.text-gray-institucional
    color: color-gray-institucional   

.container 
    background: #fff 


    
// For content before second header 
.content-produce
    min-height 105rem
@media screen and (max-width: 575px)
    .container-xxs
        margin 0
        display flex
        flex-direction column
        max-width 575px 