color-institucional = #7d2d11
color-danger-institucional = #B72727
color-azul-institucional = #0063A7
color-orange-institucional = #EE9B12
color-bage-institucional = #f8efeb

.bg-institucional
    background: color-institucional
.text-institucional
    color: color-institucional

.text-danger-institucional
    color: color-danger-institucional
.bg-azul-institucional
    background: color-azul-institucional
.bg-orange-institucional
    background color-orange-institucional
.bg-bage-institucional
    background color-bage-institucional !important    
.container 
    background: #fff 

// For content before second header 
.content-produce
    min-height 50rem
@media screen and (max-width: 575px)
    .container-xxs
        margin 0
        display flex
        flex-direction column
        max-width 575px 